.horizon-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}

.element-1 .element2 {
    margin: 100px;
    /* Espaço entre os elementos */
}

.retang {
    width: 79px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 12.529px 3.48px 6.961px 3.48px;
    background: rgba(76, 175, 79, 0.80);
    margin-bottom: 7%;
}

.box-comprimento-horizon {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}

.barra-center {
    width: 3px;
    height: 824px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #F5F7FA;
    margin-left: 2%;
    margin-right: 2%; 
}

.img-cadeado {
    width: 90%;
    height: auto;
    margin-bottom: 3%;
}

.ttl {
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Inter;
    font-size: 25.059px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.627px;
    margin-bottom: 2%;
}

.bolinha-1 {
    width: 47px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 360px;
    background: #EAF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;

}

.horizontal-comprimento {
    width: 500px;
}

.legend-img-1 {
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.706px;

}

.linha-horizontal{
    background-color:black;
    width:80%;
    height:7px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.barra-center2 {
    width: 3px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #F5F7FA;
    margin-left: 2rem;
    margin-right: 2rem;
} 